<html ng-app="shoppingList">
<head>
	<title>Shopping list</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/app.css"/>
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/shoppingListCtrl.js"></script>
	<script src="js/services/checkoutService.js"></script>
	<script src="js/value/configValue.js"></script>
	<script src="lib/angular/angular-modal-service.js"></script>
</head>
<body ng-controller="shoppingListCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<form name="shoppingForm">			
			<select class="form-control" ng-disabled="haveProducts()" ng-model="order.customer" name="customer" ng-options="customer.id as customer.name for customer in customers" required="true">
				<option value="">Select a customer</option>
			</select>
		
			<select class="form-control" ng-model="order.product" name="product" ng-options="product.id as product.name +' - ' + (product.price | currency)  for product in products" required="true">
				<option value="">Select a product</option>
			</select>
		</form>
		<div ng-show="checkForm(shoppingForm.customer)" class="alert alert-danger">
			Please fill in the field customer!
		</div>
		<div ng-show="checkForm(shoppingForm.product)" class="alert alert-danger">
			Please fill in the field product!
		</div>
		<button class="btn btn-primary btn-block" ng-disabled="shoppingForm.$invalid" ng-click="addItem(order)">Add Item</button>
		<hr/>
		<table class="table table-striped">
			<tr>
				<th>Product</th>
				<th>Price</th>
				<th>Discount</th>
				<th>Amount paid</th>
			</tr>
			<tr ng-repeat="prod in card.products">
				<td>{{prod.product.name}}</td>
				<td>{{prod.product.price | currency}}</td>
				<td>{{prod.discount | currency}}</td>
				<td>{{prod.product.price - prod.discount | currency}}</td>
			</tr>
		</table>
		  <div class="field">
			<label for="customer_mobile">Total</label>
			<input class="form-control" id="customer_mobile" name="customer[mobile]" type="text" ng-disabled="true" value='{{card.total | currency}}'> </input>
		</div>
		<div class="actions">
			<button class="btn btn-primary  btn-block" ng-click="checkOut()">Checkout</button>
			<button class="btn btn-danger  btn-block" ng-click="clean()">Clean cart</button>
		</div>
	</div>
</body>
</html>

